@import "tailwindcss";
@import "@nuxt/ui";


@media (prefers-reduced-motion: no-preference) {
  html {
    /* Meningkatkan durasi scroll untuk navigasi internal (anchor links) */
    scroll-behavior: smooth;
  }
}

/* Custom Scrollbar Visual (Opsional) */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #010409;
}

::-webkit-scrollbar-thumb {
  background: #1e40af;
  border-radius: 10px;
}


@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;
}
